{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGov.in</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="nav">
        <div class="header">
            <div class="logos">
                <a href="#"><img src="{% static 'images/gujarat.png' %}" alt="" class="header-logo" id="gujarat"></a>
                <a href="#"><img src="{% static 'images/mygov.png' %}" alt="" class="header-logo" id="g20"></a>
                <a href="#"><img src="{% static 'images/azadiamritmahotsav.png' %}" alt="" class="header-logo" id="gogemblem"></a>
            </div>
            <div class="navigation">

            </div>

        </div>
    </div>
</body>
</html>